@charset "UTF-8";
html { height: 100%; }

body { font-family: "Microsoft Jhenghei", "微軟正黑體", \5FAE\8EDF\6B63\9ED1\9AD4, Verdana, Arial, Helvetica, sans-serif; margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: none; }
@media all and (min-width: 768px) { body { font-size: 16px; } }
@media all and (max-width: 767px) { body { font-size: 14px; } }

a img { border: 0; }

img { vertical-align: middle; }

ul, li { list-style: none; margin: 0; padding: 0; }

a { color: inherit; }
a a:link { text-decoration: none; }
a a:visited { text-decoration: none; }
a a:hover { text-decoration: underline; }
a a:active { text-decoration: none; }

.edit_style { padding: 2em 0; max-width: 1300px; margin: auto; }
@media all and (min-width: 768px) { .edit_style { font-size: 16px; } }
@media all and (max-width: 767px) { .edit_style { font-size: 14px; } }
.edit_style img { max-width: 100%; height: auto !important; }
.edit_style * { max-width: 100%; }
.edit_style table { display: block; }
.edit_style table thead, .edit_style table tbody, .edit_style table tfoot { display: table; width: 100%; }
.edit_style::after { content: ''; clear: both; }
.edit_style a { color: #0054AF; }
.edit_style a:link { text-decoration: underline; }
.edit_style a:visited { text-decoration: underline; }
.edit_style a:hover { text-decoration: underline; }
.edit_style a:active { text-decoration: underline; }
.edit_style ul { -webkit-padding-start: 40px; }
.edit_style ul li { list-style: disc; }
.edit_style ol { -webkit-padding-start: 40px; }
.edit_style ol li { list-style: decimal; }

input:focus, textarea:focus, button:focus { outline-style: none; box-shadow: none; border-radius: 0; }

div { border: 0; padding: 0; margin: 0; box-sizing: border-box; }

table { display: table; width: 100%; background-color: transparent; }

tr { display: table-row; width: 100%; line-height: 36px; }

td { display: table-cell; }

.invalid { border: 1px solid #F00; background: #FF9; }

.notify { margin: 0 0 0 5px; font-size: 10px; color: #F00; }

.iframe-rwd { position: relative; padding-bottom: 65.25%; padding-top: 30px; height: 0; overflow: hidden; }
.iframe-rwd .iframe-rwd iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.max_width { max-width: 1300px; margin: auto; }

.index_page { color: #333; }
.index_page .section { padding: 0 5%; }
.index_page .section_title { color: #00ADA7; font-weight: bold; font-size: 1.5em; padding: 10px 0; width: 30%; border-bottom: 1px #00ADA7 solid; position: relative; margin-bottom: 20px; }
@media all and (max-width: 767px) { .index_page .section_title { width: 50%; } }
.index_page .section_title:before { content: '.'; position: absolute; bottom: -0.35em; left: -2px; font-size: 1.6em; }
.index_page .index_banner { background-size: cover; background-position: center; background-repeat: no-repeat; background-image: url("../images/index_banner-02.svg"); }
.index_page .index_banner .fp-tableCell { background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 54%, white 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 54%, white 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 54%, white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */ }
.index_page .index_banner .item_title { text-align: center; }
.index_page .index_banner .item_title .welcome { font-weight: bold; font-size: 2.6em; padding-bottom: 30px; color: #FFF; text-shadow: 0 0 6px rgba(0, 0, 0, 0.4); }
.index_page .index_banner .item_title .item_img { width: 200px; height: 200px; background-size: cover; background-position: center; background-repeat: no-repeat; background-image: url("../images/index_01.jpg"); margin-left: auto; margin-right: auto; margin-bottom: 10px; border-radius: 50%; border: 10px #FFF solid; box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
.index_page .index_banner .item_title .name { font-size: 1.4em; font-weight: bold; }
.index_page .index_about_inner { line-height: 1.5em; }
@media all and (min-width: 768px) { .index_page .index_profile_inner { font-size: 0; } }
.index_page .index_profile_inner .profile_item { margin-bottom: 5%; }
.index_page .index_profile_inner .profile_item .item_img { background-size: cover; background-position: center; background-repeat: no-repeat; border: 1px #FFF solid; border-radius: 5px; }
@media all and (min-width: 768px) { .index_page .index_profile_inner .profile_item .item_img { font-size: 16px; display: inline-block; vertical-align: middle; width: 47%; } }
.index_page .index_profile_inner .profile_item .item_img:hover .mask { opacity: 1; }
.index_page .index_profile_inner .profile_item .item_img .mask { border-radius: 5px; }
@media all and (min-width: 768px) { .index_page .index_profile_inner .profile_item .item_img .mask { display: table; width: 100%; padding: 30% 10px; color: #FFF; background-color: rgba(0, 0, 0, 0.7); opacity: 0; transition: all 1s; } }
@media all and (max-width: 767px) { .index_page .index_profile_inner .profile_item .item_img .mask { padding-bottom: 65%; position: relative; } }
.index_page .index_profile_inner .profile_item .item_img .mask .item_link { text-align: center; font-size: 2em; }
@media all and (min-width: 768px) { .index_page .index_profile_inner .profile_item .item_img .mask .item_link { display: table-cell; vertical-align: middle; } }
@media all and (max-width: 767px) { .index_page .index_profile_inner .profile_item .item_img .mask .item_link { position: absolute; width: 100%; bottom: -30px; } }
@media all and (min-width: 768px) { .index_page .index_profile_inner .profile_item .item_txt { font-size: 16px; } }
@media all and (max-width: 767px) { .index_page .index_profile_inner .profile_item .item_txt { font-size: 14px; } }
@media all and (min-width: 768px) { .index_page .index_profile_inner .profile_item .item_txt { display: inline-block; vertical-align: middle; width: 53%; padding-left: 6%; } }
.index_page .index_profile_inner .profile_item .item_txt .item_title { font-size: 1.4em; font-weight: bold; padding-bottom: 20px; }
.index_page .index_profile_inner .profile_item .item_txt .item_des { padding: 15px 0; color: #555; font-size: 0.9em; line-height: 1.4em; }
.index_page .index_profile_inner .profile_item .item_txt .item_detail { padding-left: 20px; }
.index_page .index_profile_inner .profile_item .item_txt .item_detail li { list-style-type: square; padding: 7px 0; }

/*# sourceMappingURL=style.css.map */
