@charset "UTF-8";
html { height: 100%; }

body { font-family: "Microsoft Jhenghei", "微軟正黑體", \5FAE\8EDF\6B63\9ED1\9AD4, Verdana, Arial, Helvetica, sans-serif; margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: none; }
@media all and (min-width: 768px) { body { font-size: 16px; } }
@media all and (max-width: 767px) { body { font-size: 14px; } }

a img { border: 0; }

img { vertical-align: middle; }

ul, li { list-style: none; margin: 0; padding: 0; }

a { color: inherit; }
a a:link { text-decoration: none; }
a a:visited { text-decoration: none; }
a a:hover { text-decoration: underline; }
a a:active { text-decoration: none; }

.edit_style { padding: 2em 0; max-width: 1300px; margin: auto; }
@media all and (min-width: 768px) { .edit_style { font-size: 16px; } }
@media all and (max-width: 767px) { .edit_style { font-size: 14px; } }
.edit_style img { max-width: 100%; height: auto !important; }
.edit_style * { max-width: 100%; }
.edit_style table { display: block; }
.edit_style table thead, .edit_style table tbody, .edit_style table tfoot { display: table; width: 100%; }
.edit_style::after { content: ''; clear: both; }
.edit_style a { color: #0054AF; }
.edit_style a:link { text-decoration: underline; }
.edit_style a:visited { text-decoration: underline; }
.edit_style a:hover { text-decoration: underline; }
.edit_style a:active { text-decoration: underline; }
.edit_style ul { -webkit-padding-start: 40px; }
.edit_style ul li { list-style: disc; }
.edit_style ol { -webkit-padding-start: 40px; }
.edit_style ol li { list-style: decimal; }

input:focus, textarea:focus, button:focus { outline-style: none; box-shadow: none; border-radius: 0; }

div { border: 0; padding: 0; margin: 0; box-sizing: border-box; }

table { display: table; width: 100%; background-color: transparent; }

tr { display: table-row; width: 100%; line-height: 36px; }

td { display: table-cell; }

.invalid { border: 1px solid #F00; background: #FF9; }

.notify { margin: 0 0 0 5px; font-size: 10px; color: #F00; }

.iframe-rwd { position: relative; padding-bottom: 65.25%; padding-top: 30px; height: 0; overflow: hidden; }
.iframe-rwd .iframe-rwd iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.max_width { max-width: 1300px; margin: auto; }

/*滑入動畫*/
.slide-in { opacity: 0; transition: all .5s; transform: translateX(-30%) scale(0.95); }
.slide-in.slide-left { opacity: 0; transition: all .5s; transform: translateX(30%) scale(0.95); }
.slide-in.slide-up { opacity: 0; transition: all .5s; transform: translateY(30%) scale(0.95); }
.slide-in.active { opacity: 1; transform: translateX(0%) scale(1); }
.slide-in.slide-up.active { opacity: 1; transform: translateY(0%) scale(1); }

.fp-controlArrow.fp-next { border-color: transparent transparent transparent #777; }
@media all and (max-width: 767px) { .fp-controlArrow.fp-next { border-width: 25px 0 25px 20px; right: 5px; } }

.fp-controlArrow.fp-prev { border-color: transparent #777 transparent transparent; }
@media all and (max-width: 767px) { .fp-controlArrow.fp-prev { border-width: 25px 20px 25px 0; left: 5px; } }

.slick-prev { left: -5%; }
.slick-prev::before { content: ''; width: 0; height: 0; border-style: solid; border-width: 25px 20px 25px 0; border-color: transparent #777777 transparent transparent; font-size: 0; display: block; }
@media all and (min-width: 768px) { .slick-prev::before { border-width: 38.5px 35px 38.5px 0; } }

.slick-next { right: -3.5%; }
.slick-next::before { content: ''; width: 0; height: 0; border-style: solid; border-width: 25px 0 25px 20px; border-color: transparent transparent transparent #777777; font-size: 0; display: block; }
@media all and (min-width: 768px) { .slick-next::before { border-width: 38.5px 0 38.5px 35px; } }

.index_page { color: #333; }
.index_page .section { padding: 0 5%; }
.index_page .section_title { color: #00ADA7; font-weight: bold; font-size: 1.5em; padding: 10px 0; width: 30%; border-bottom: 1px #00ADA7 solid; position: relative; margin-bottom: 20px; }
@media all and (max-width: 767px) { .index_page .section_title { width: 50%; } }
@media all and (max-width: 479px) { .index_page .section_title { width: 80%; } }
.index_page .section_title:before { content: '.'; position: absolute; bottom: -0.35em; left: -2px; font-size: 1.6em; }
.index_page .index_banner { background-size: cover; background-position: center; background-repeat: no-repeat; background-image: url("../images/index_banner-02.svg"); }
.index_page .index_banner .fp-tableCell { background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 54%, white 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 54%, white 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 54%, white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */ }
.index_page .index_banner .item_title { text-align: center; }
.index_page .index_banner .item_title .welcome { font-weight: bold; font-size: 2.6em; padding-bottom: 30px; color: #FFF; text-shadow: 0 0 6px rgba(0, 0, 0, 0.4); }
.index_page .index_banner .item_title .item_img { width: 200px; height: 200px; background-size: cover; background-position: center; background-repeat: no-repeat; background-image: url("../images/index_01.jpg"); margin-left: auto; margin-right: auto; margin-bottom: 10px; border-radius: 50%; border: 10px #FFF solid; box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
.index_page .index_banner .item_title .name { font-size: 1.4em; font-weight: bold; }
.index_page .index_about_inner { line-height: 1.5em; }
@media all and (min-width: 768px) { .index_page .index_profile_inner { font-size: 0; } }
@media all and (max-width: 767px) { .index_page .index_profile_inner { padding: 0 5%; } }
.index_page .index_profile_inner .profile_item { margin-bottom: 5%; }
.index_page .index_profile_inner .profile_item .item_img { background-size: cover; background-position: center; background-repeat: no-repeat; border: 1px #FFF solid; border-radius: 10px; }
@media all and (min-width: 768px) { .index_page .index_profile_inner .profile_item .item_img { font-size: 16px; display: inline-block; vertical-align: middle; width: 47%; } }
.index_page .index_profile_inner .profile_item .item_img:hover .mask { opacity: 1; }
.index_page .index_profile_inner .profile_item .item_img .mask { border-radius: 10px; opacity: 0; display: table; width: 100%; padding: 25% 10px; color: #FFF; background-color: rgba(0, 0, 0, 0.7); transition: all 1s; }
.index_page .index_profile_inner .profile_item .item_img .mask .item_link { text-align: center; font-size: 2em; display: table-cell; vertical-align: middle; }
@media all and (min-width: 768px) { .index_page .index_profile_inner .profile_item .item_txt { font-size: 16px; } }
@media all and (max-width: 767px) { .index_page .index_profile_inner .profile_item .item_txt { font-size: 14px; } }
@media all and (min-width: 768px) { .index_page .index_profile_inner .profile_item .item_txt { display: inline-block; vertical-align: middle; width: 53%; padding-left: 6%; } }
.index_page .index_profile_inner .profile_item .item_txt .section_title { width: 60%; min-width: 200px; }
@media all and (max-width: 767px) { .index_page .index_profile_inner .profile_item .item_txt .section_title { font-size: 1.2em; padding-bottom: 5px; padding-top: 20px; } }
@media all and (max-width: 479px) { .index_page .index_profile_inner .profile_item .item_txt .section_title { width: 80%; } }
.index_page .index_profile_inner .profile_item .item_txt .item_des { padding: 15px 0; color: #555; font-size: 0.9em; line-height: 1.4em; }
@media all and (max-width: 767px) { .index_page .index_profile_inner .profile_item .item_txt .item_des { padding: 0 0 10px 0; } }
.index_page .index_profile_inner .profile_item .item_txt .item_detail { padding-left: 20px; }
.index_page .index_profile_inner .profile_item .item_txt .item_detail li { list-style-type: square; padding: 7px 0; }
@media all and (max-width: 479px) { .index_page .index_profile_inner .profile_item .item_txt .item_detail li { padding: 2% 0; } }
.index_page .index_system_inner .system_item { padding: 30px 15px 0 15px; }
.index_page .index_system_inner .system_item:hover .item_img { opacity: 0.7; }
.index_page .index_system_inner .system_item .item_img { background-size: cover; background-position: center; background-repeat: no-repeat; padding-bottom: 66.66%; box-shadow: 0 0 6px rgba(0, 0, 0, 0.4); }

/*# sourceMappingURL=style.css.map */
