$main_color:#00ADA7;
$second_color:#F76A00;
$third_color:#577399;
$fourth_color: #80A8CD;

$pc-media: 1024px;
$pcs-media: 1023px;
$md-media: 768px;
$mds-media: 767px;
$m-media: 480px;
$ms-media: 479px;

//電腦
@mixin pc-width {
    @media all and (min-width: $pc-media) {
        @content;
    }
}

//小螢幕電腦
@mixin md-width {
    @media all and (min-width: $md-media) {
        @content;
    }
}

//大平板
@mixin sms-width {
    @media all and (max-width: $pcs-media) {
        @content;
    }
}

//平板
@mixin sm-width {
    @media all and (max-width: $mds-media) {
        @content;
    }
}

//手機
@mixin xs-width {
    @media all and (max-width: $ms-media) {
        @content;
    }
}

@mixin inline_block_middle {
    display: inline-block;
    vertical-align: middle;
}

@mixin button_initial {
    text-align: center;
    padding: 8px 3px;
    color: #FFF;
    font-size: 1em;
    border: 0;
    width: 110px;
    vertical-align: middle;

    @include sm-width {
        font-size: 0.9em;
    }
}

@mixin bg_img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin simple_txt{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

@mixin font_rwd{
    @include md-width{
        font-size: 16px;
    }
    @include sm-width{
        font-size: 14px;
    }
}

html {
    height: 100%;
}

body {
    font-family: "Microsoft Jhenghei", "微軟正黑體", \5FAE\8EDF\6B63\9ED1\9AD4, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:none;
    @include font_rwd;
}

a img {
    border: 0;
}

img {
    vertical-align: middle;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        text-decoration: none;
    }
}

.edit_style {
    padding: 2em 0;
    max-width: 1300px;
    margin: auto;
    @include font_rwd;

    img {
        max-width: 100%;
        height: auto !important;
    }

    * {
        max-width: 100%;
    }

    table {
        display: block;
    }

    table thead,
    table tbody,
    table tfoot {
        display: table;
        width: 100%;
    }

    &::after {
        content: '';
        clear: both;
    }

    a{
        color: #0054AF;

        &:link {
            text-decoration: underline;
        }

        &:visited {
            text-decoration: underline;
        }

        &:hover {
            text-decoration: underline;
        }

        &:active {
            text-decoration: underline;
        }
    }

    ul {
        -webkit-padding-start:40px;

        li {
            list-style:disc;
        }
    }

    ol {
        -webkit-padding-start:40px;

        li {
            list-style:decimal;
        }
    }
}

input:focus,
textarea:focus,
button:focus {
    outline-style: none;
    box-shadow: none;
    border-radius: 0;
}

div {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    display: table;
    width: 100%;
    background-color: transparent;
}

tr {
    display: table-row;
    width: 100%;
    line-height: 36px;
}

td {
    display: table-cell;
}

.invalid {
    border: 1px solid #F00;
    background: #FF9;
}

.notify {
    margin: 0 0 0 5px;
    font-size: 10px;
    color: #F00;
}

.iframe-rwd {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    .iframe-rwd iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.max_width {
    max-width: 1300px;
    margin: auto;
}

/*滑入動畫*/
.slide-in {
    opacity: 0;  
    transition: all .5s;  
    transform: translateX(-30%) scale(0.95);

    &.slide-left {
        opacity: 0;  
        transition: all .5s;  
        transform: translateX(30%) scale(0.95);
    }

    &.slide-up {
        opacity: 0;  
        transition: all .5s;  
        transform: translateY(30%) scale(0.95);
    }

    &.active {
        opacity: 1;  
        transform: translateX(0%) scale(1);
    }

    &.slide-up.active {
        opacity: 1;  
        transform: translateY(0%) scale(1);
    }
}

.fp-controlArrow.fp-next{
    @include sm-width{
        border-width: 25px 0 25px 20px;
        right: 5px;
    }
    border-color: transparent transparent transparent #777;
}

.fp-controlArrow.fp-prev{
    @include sm-width{
        border-width: 25px 20px 25px 0;
        left: 5px;
    }
    border-color: transparent #777 transparent transparent;
}

.slick-prev{
    left: -5%;

    &::before{
        content:'';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 20px 25px 0;
        border-color: transparent #777777 transparent transparent;
        font-size: 0;
        display: block;
        @include md-width{
            border-width: 38.5px 35px 38.5px 0;
        }
    }
}
.slick-next{
    right: -3.5%;

    &::before{
        content:'';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 0 25px 20px;
        border-color: transparent transparent transparent #777777;
        font-size: 0;
        display: block;
        @include md-width{
            border-width: 38.5px 0 38.5px 35px;
        }
    }
}

.index_page{
    color: #333;

    .section{
        padding: 0 5%;
    }

    .section_title{
        color: $main_color;
        font-weight: bold;
        font-size: 1.5em;
        padding: 10px 0;
        width: 30%;
        border-bottom: 1px $main_color solid;
        position: relative;
        margin-bottom: 20px;
        @include sm-width{
            width: 50%;
        }

        &:before{
            content: '.';
            position: absolute;
            bottom: -0.35em;
            left: -2px;
            font-size: 1.6em;
        }
    }

    .index_banner{
        @include bg_img;
        background-image: url('../images/index_banner-02.svg');

        .fp-tableCell{
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 54%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 54%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 54%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        }

        .item_title{
            text-align: center;

            .welcome{
                font-weight: bold;
                font-size: 2.6em;
                padding-bottom: 30px;
                color: #FFF;
                text-shadow: 0 0 6px rgba(0,0,0,0.4);
            }

            .item_img{
                width: 200px;
                height: 200px;
                @include bg_img;
                background-image: url('../images/index_01.jpg');
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
                border-radius: 50%;
                border: 10px #FFF solid;
                box-shadow: 0 0 10px rgba(0,0,0,0.4);
            }

            .name{
                font-size: 1.4em;
                font-weight: bold;
            }
        }
    }

    .index_about_inner{
        line-height: 1.5em;
    }

    .index_profile_inner{
        @include md-width{
            font-size: 0;
        }
        @include sm-width{
            padding: 0 5%;
        }

        .profile_item{
            margin-bottom: 5%;

            .item_img{
                @include bg_img;
                border: 1px #FFF solid;
                border-radius: 10px;
                @include md-width{
                    font-size: 16px;
                    @include inline_block_middle;
                    width: 47%;
                }

                &:hover{
                    .mask{
                        opacity: 1;
                    }
                }

                .mask{
                    border-radius: 10px;
                    opacity: 0;
                    display: table;
                    width: 100%;
                    padding: 25% 10px;
                    color: #FFF;
                    background-color: rgba(0,0,0,0.7);
                    transition: all 1s;
                    
                    .item_link{
                        text-align: center;
                        font-size: 2em;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }

            .item_txt{
                @include font_rwd;
                @include md-width{
                    @include inline_block_middle;
                    width: 53%;
                    padding-left: 6%;
                }

                .section_title{
                    width: 60%;
                    min-width: 200px;
                    @include sm-width{
                        font-size: 1.2em;
                        padding-bottom: 5px;
                        padding-top: 20px;
                    }
                    @include xs-width{
                        width: 80%;
                    }
                }

                .item_des{
                    padding: 15px 0;
                    color: #555;
                    font-size: 0.9em;
                    line-height: 1.4em;
                    @include sm-width{
                        padding: 0 0 10px 0;
                    }
                }

                .item_detail{
                    padding-left: 20px;

                    li{
                        list-style-type: square;
                        padding: 7px 0;
                        @include xs-width{
                            padding: 2% 0;
                        }
                    }
                }
            }
        }
    }

    .index_system_inner{
        .system_item{
            padding: 30px 15px 0 15px;

            &:hover{
                .item_img{
                    opacity: 0.7;
                }
            }

            .item_img{
                @include bg_img;
                padding-bottom: 66.66%;
                box-shadow: 0 0 6px rgba(0,0,0,0.4);
            }
        }
    }
}