// @import "../../node_modules/slick-carousel/slick/slick.scss";
// @import "slick-carousel/slick/slick-theme.scss";

@import "link/color.scss";
@import "link/public.scss";


.label{
    background-color: #777;
    color: #FFF;
    padding: 3px 7px;
    border-radius: 3px;
    @include inline_block;
    margin-right: 5px;
}

.index_page{
    color: #333;

    .section{
        padding: 0 5%;
    }

    .section_title{
        color: $main_color;
        font-weight: bold;
        font-size: 1.5em;
        padding: 10px 0;
        width: 30%;
        border-bottom: 1px $main_color solid;
        position: relative;
        margin-bottom: 20px;
        @include sm-width{
            width: 50%;
        }
        @include xs-width{
            width: 80%;
        }

        &:before{
            content: '.';
            position: absolute;
            bottom: -2px;
            left: -2px;
            font-size: 30px;
        }
    }
}

.index_banner{
    @include bg_img;
    background-image: url('../images/index_banner-02.jpg');

    .fp-tableCell{
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 54%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 54%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 54%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    .item_title{
        text-align: center;
    }

    .welcome{
        font-weight: bold;
        font-size: 2.6em;
        padding-bottom: 30px;
        color: #FFF;
        text-shadow: 0 0 6px rgba(0,0,0,0.4);
    }

    .item_img{
        width: 200px;
        height: 200px;
        @include bg_img;
        background-image: url('../images/index_01.jpg');
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        border-radius: 50%;
        border: 10px #FFF solid;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
    }

    .name{
        font-size: 1.4em;
        font-weight: bold;
    }
}

.autobiography_section{
    background-image: url('../images/profile-01.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    @include md-width{
        background-size: auto 80%;
    }
    @include sm-width{
        background-size: auto 60%;
    }

    .section_inner{
        padding: 10px;
        background-color: rgba(255,255,255,0.7);
        @include md-width{
            margin-left: 25%;
            padding: 20px;
        }
    }
}

.job_item{
    font-size: 0;
    @include md-width{
        padding: 30px 0;
        border-bottom: 1px #CCC solid;
    }
    @include sm-width{
        padding-bottom: 30px;
    }

    .date{
        color: #FFF;
        font-size: 14px;
        @include inline_block(auto,top);
        @include round_txt($second_color, 50px);
    }

    .item_txt{
        @include inline_block(calc(100% - 50px),top);
        padding-left: 5%;
    }

    .name{
        @include md-width{
            @include inline_block(200px, top);
        }
        @include sm-width{
            padding-bottom: 15px;
        }
        font-size: 16px;
        font-weight: bold;
    }

    .detail{
        @include md-width{
            @include inline_block(calc(100% - 200px), top);
            font-size: 16px;
        }
        @include pc-width{
            padding-left: 5%;
        }
        @include sm-width{
            font-size: 14px;
        }

        >div{
            padding-bottom: 10px;

            &:nth-last-child(1){
                padding-bottom: 0;
            }
        }
    }
}

.index_profile_inner{
    @include md-width{
        font-size: 0;
    }
    @include sm-width{
        padding: 0 5%;
    }

    .profile_item{
        margin-bottom: 5%;
    }

    .item_img{
        @include bg_img;
        border: 1px #FFF solid;
        border-radius: 10px;
        @include md-width{
            font-size: 16px;
            @include inline_block_middle;
            width: 47%;
        }

        &:hover{
            .mask{
                opacity: 1;
            }
        }

        .mask{
            border-radius: 10px;
            opacity: 0;
            display: table;
            width: 100%;
            padding: 25% 10px;
            color: #FFF;
            background-color: rgba(0,0,0,0.7);
            transition: all 1s;
            
            .item_link{
                text-align: center;
                font-size: 2em;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    .item_txt{
        @include font_rwd;
        @include md-width{
            @include inline_block_middle;
            width: 53%;
            padding-left: 6%;
        }

        .section_title{
            width: 60%;
            min-width: 200px;
            @include sm-width{
                font-size: 1.2em;
                padding-bottom: 5px;
                padding-top: 20px;
            }
            @include xs-width{
                width: 80%;
            }
        }

        .item_des{
            padding: 15px 0;
            color: #555;
            font-size: 0.9em;
            line-height: 1.4em;
            @include sm-width{
                padding: 0 0 10px 0;
            }
        }

        .item_detail{
            padding-left: 20px;

            li{
                list-style-type: square;
                padding: 7px 0;
                @include xs-width{
                    padding: 2% 0;
                }
            }
        }
    }
}

.index_system_inner{
    .system_item{
        padding: 30px 15px 0 15px;

        &:hover{
            .item_img{
                opacity: 0.7;
            }
        }
    }

    .item_img{
        @include bg_img;
        padding-bottom: 66.66%;
        box-shadow: 0 0 6px rgba(0,0,0,0.4);
    }
}